<div class="well center">
	<h1>BiF Grammar - The Fassler Color Method</h1>
	<%= image_tag("color_wheel.png", :alt => "BiF Grammar Color Wheel") %>
	<h3>Do you struggle with English Grammar?</h3>
	<p>
		BiFluent uses a unique approach to teaching English grammar.
		<br>
		Try out our free demo below and learn more about the Fassler Color Method.
	</p>
	<button class="btn btn-large btn-primary" type="button" id="demoButton">Start Free Demo</button>
</div>

<div id="grammarModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 class="blueWords1">Blue Words</h3>
    	<h3 class="blueWords2">Blue Words Part II</h3>
    	<h3 class="purpleWords1">Purple Words</h3>
    	<h3 class="purpleWords2">Purple Words Part II</h3>
    	<h3 class="purpleWords3">Purple Words Part III</h3>
    	<h3 class="orangeWords1">Orange Words</h3>
    	<h3 class="orangeWords2">Orange Words Part II</h3>
    	<h3 class="painting1">Sentence Painting</h3>
    	<h3 class="painting2">More Sentence Painting</h3>
  	</div>
  	<div class="modal-body">
  		<div class="pull-right correct">
    		<%= image_tag("correct.png", :alt => "Correct!") %>
    	</div>	
    	<div class="pull-right wrong">
    		<%= image_tag("wrong.png", :alt => "Sorry, try again!") %>
    	</div>	
	  	<div class="blueWords1">
	   		<p>
	   			Look at the following sentences:
	   			<ul>
					<li><span class="blue">I</span> go to the store.</li>
					<li><span class="blue">He</span> is tall.</li>
					<li><span class="blue">They</span> feel sick.</li>
				</ul>
				Part of each sentence is colored in blue. Blue words are the subject of the sentence. Sometimes there may be multiple blue words in one sentence. 
				<br>
				<br>
				Now look at the sentence below. Click on the word that you think should be the blue word.
			</p>
			<p class="testSentence center">
				<span class="wordExample blueCorrect">He</span> <span class="wordExample blueWrong">goes</span> <span class="wordExample blueWrong">to</span> <span class="wordExample blueWrong">school</span>.
			</p>
	  	</div>
	  	<div class="blueWords2">
	   		<p>
	   			Good job! Let's try one that is a little more challenging.
	   			<br>
	   			First, some more examples:
	   			<ul>
					<li><span class="blue">This discussion</span> was last Sunday.</li>
					<li>When were <span class="blue">you</span> discussing this?</li>
					<li>Would <span class="blue">you</span> like them here or there?</li>
					<li>Does <span class="blue">fruit</span> fly like a banana?</li>
					<li><span class="blue">That</span> is the car that <span class="blue">I</span> bought yesterday.</li>
				</ul>
				Ready, OK! Click on the word(s) you think should be the blue word(s).
			</p>
			<p class="testSentence center">
				<span class="wordExample blueCorrect1">I</span> <span class="wordExample blueWrong">knew</span> <span class="wordExample blueCorrect2">it</span> <span class="wordExample blueWrong">was</span> <span class="wordExample blueWrong">a</span> <span class="wordExample blueWrong">good</span> <span class="wordExample blueWrong">time</span> <span class="wordExample blueWrong">to</span> <span class="wordExample blueWrong">have</span> <span class="wordExample blueWrong">ideas</span>.
			</p>
	  	</div>
	  	<div class="purpleWords1">
	   		<p>
	   			Awesome! You are progressing fast. Let's move on to purple words. 
	   			<br>
	   			Purple words are question words
	   			<br>
	   			(i.e. Who, What, When, Where, Why, How).
	   			<br>
	   			<br>
	   			First, some examples:
	   			<ul>
					<li><span class="purple">Where</span> did Joe eat?</li>
					<li><span class="purple">Who</span> did I eat sashimi with at Tokyo Station on Tuesday?</li>
					<li><span class="purple">When</span> were you discussing this?</li>
					<li><span class="purple">How</span> is the weather?</li>
				</ul>
				Now click on the purple word in the sentence below.
			</p>
			<p class="testSentence center">
				<span class="wordExample purpleCorrect">Why</span> <span class="wordExample purpleWrong">did</span> <span class="wordExample purpleWrong">I</span> <span class="wordExample purpleWrong">go</span> <span class="wordExample purpleWrong">to</span> <span class="wordExample purpleWrong">the</span> <span class="wordExample purpleWrong">store?</span>
			</p>
	  	</div>
	  	<div class="purpleWords2">
	   		<p>
	   			The purpose of purple words is always to remove 
	   			<br>
	   			another word (or phrase) from the sentence.
	   			<br>
	   			<br>
	   			Check out these examples:
	   		</p>	
	   		<div class="outer">
	   			<div class="inner-a">	
		   			<ul>
		   				
						<li><span class="purple">Who</span> did I eat sashimi with <span class="strike-through">Bill</span> at Tokyo Station on Tuesday? Bill.</li>
						<br>
						<br>
						<li><span class="purple">Where</span> did I eat sashimi with Bill at <span class="strike-through">Tokyo Station</span> on Tuesday? Tokyo Station.</li>
					</ul>
				</div>
				<div class="inner-b">
					<svg>
  						<path d="M 5 40 q 35 -50 165 0" stroke="#660066" stroke-width="2" fill="none" />
					</svg>
				</div>
				<div class="inner-c">
					<svg>
  						<path d="M 0 40 q 30 50 210 0" stroke="#258585" stroke-width="2" fill="none" />
					</svg>
				</div>
				<div class="inner-d">
					<svg>
  						<path d="M 5 40 q 35 -50 245 0" stroke="#660066" stroke-width="2" fill="none" />
					</svg>
				</div>
				<div class="inner-e">
					<svg>
  						<path d="M 50 40 q 30 50 155 0" stroke="#258585" stroke-width="2" fill="none" />
					</svg>
				</div>
			</div>		
			<p>
				First click on the purple word in the sentence below and then click on the extra word(s) that needs to be removed.
			</p>
			<br>
			<br>
			<p class="testSentence center">
				<span class="wordExample purpleCorrect1">When</span> <span class="wordExample purpleWrong">did</span> <span class="wordExample purpleWrong">I</span> <span class="wordExample purpleWrong">eat</span> <span class="wordExample purpleWrong">sashimi</span> <span class="wordExample purpleWrong">with</span> <span class="wordExample purpleWrong">Bill</span> <span class="wordExample purpleWrong">at</span> <span class="wordExample purpleWrong">Tokyo</span> <span class="wordExample purpleWrong">Station</span> <span class="wordExample purpleCorrect2">on</span> <span class="wordExample purpleCorrect3">Tuesday</span>?
			</p>
	  	</div>
	  	<div class="purpleWords3">
	   		<p>
	   			Nice work! Let's make it a touch more difficult. 
	   			<br>
	   			Purple words can also appear in relative clauses.
	   			<br>
	   			<br>
	   			Take a look at these examples:
	   			<ul>
					<li>Nobody understood <span class="purple">what</span> the movie was talking about.</li>
					<li>I was surprised <span class="purple">when</span> he showed up to the office with purple and red hair.</li>
					<li>I don't remember <span class="purple">what</span> we were talking about last Sunday.</li>
				</ul>
				Next please click on the purple word in the sentence below.
			</p>
			<p class="testSentence center">
				<span class="wordExample purpleWrong">I</span> <span class="wordExample purpleWrong">realized</span> <span class="wordExample purpleCorrect4">that</span> <span class="wordExample purpleCorrect5">what</span> <span class="wordExample purpleWrong">one</span> <span class="wordExample purpleWrong">thinks</span> <span class="wordExample purpleWrong">about</span> <span class="wordExample purpleWrong">in</span> <span class="wordExample purpleWrong">the</span> <span class="wordExample purpleWrong">shower</span> <span class="wordExample purpleWrong">in</span> <span class="wordExample purpleWrong">the</span> <span class="wordExample purpleWrong">morning</span> <span class="wordExample purpleWrong">is</span> <span class="wordExample purpleWrong">more</span> <span class="wordExample purpleWrong">important</span> <span class="wordExample purpleWrong">than</span> <span class="wordExample purpleWrong">I'd</span> <span class="wordExample purpleWrong">thought</span>.
			</p>
	  	</div>
	  	<div class="orangeWords1">
	   		<p>
	   			You are on your way! Two colors down! Let's move on to orange words.
	   			<br>
	   			Orange words are auxiliary verbs (i.e. did, does, will, would, etc.).
	   			<br>
	   			Here are some examples:
	   			<ul>
					<li>I <span class="orange">did</span> eat pizza.</li>
					<li>I <span class="orange">might</span> eat pizza.</li>
					<li>I <span class="orange">have</span> eaten pizza.</li>
					<li><span class="orange">Shall</span> we eat?</li>
				</ul>
				Ready? Try it! Click on the orange word in the sentence below.
			</p>
			<p class="testSentence center">
				<span class="wordExample orangeWrong">I</span> <span class="wordExample orangeCorrect">am</span> <span class="wordExample orangeWrong">going</span> <span class="wordExample orangeWrong">to</span> <span class="wordExample orangeWrong">eat</span> <span class="wordExample orangeWrong">pizza</span>.
			</p>
	  	</div>
	  	<div class="orangeWords2">
	   		<p>
	   			Great! Now it gets tough. Orange words are the trickiest color.
	   			<br>
	   			If you can find the orange word in every sentence, 
	   			<br>
	   			you will become an English grammar master.
	   			<br>
	   			<br>
	   			Let's learn about the 'secret do' and 'secret does'. 
	   			<br>
	   			Study the following examples:
	   			<ul>
					<li>He ran to the store. (<span class="orange">did</span> run)</li>
					<li>He goes to the store. (<span class="orange">does</span> go)</li>
					<li>I like coffee. (<span class="orange">do</span> like)</li>
				</ul>
				Got it? Test yourself by writing the orange word for the following sentence in the box below.
			</p>
			<p class="testSentence center">
				She said, "I <span class="orange" id="hidden-orange">do</span> like you."
			</p>
			<div class="center">
				<p id="orangeHintText">Find the 'secret do'</p>
				<input type="text" name="orangeWord" placeholder="What's the orange word?" id="orangeText"><br>
				<div class="btn-group">
				  	<button class="btn btn-primary" id="orangeSubmit">Submit</button>
				  	<button class="btn btn-info" id="orangeHint">Hint</button>
				</div>
			</div>
	  	</div>
	  	<div class="painting1">
	   		<p>
	   			Time to paint!
	   			<br>
	   			Study the following examples:
	   			<ul>
					<li><span class="purple">What</span> <span class="orange">do</span> <span class="blue">fruit flies</span> like?</li>
					<li><span class="blue">I</span> <span class="orange">was</span> surprised <span class="purple">when</span> <span class="blue">he</span> show<span class="orange">ed</span> up to the office with purple and red hair.</li>
				</ul>
				Paint the sentence below by first clicking on the color to select it and then clicking on the word that should be that color. When you are finished, click 'Check Answer' to see if you answer is correct.
			</p>
			<div id="circle-outer">
				<div class="blue-circle"></div>
				<div class="orange-circle"></div>
				<div class="purple-circle"></div>
				<div class="clearfix"></div>
			</div>	
			<br>
			<p class="testSentence center">
				<span class="wordExample" id="paintWord1">How</span> <span class="wordExample" id="paintWord2">does</span> <span class="wordExample" id="paintWord3">fruit</span> <span class="wordExample" id="paintWord4">fly</span>?
			</p>
			<div class="center">
				<button class="btn btn-primary" id="paintingSubmit">Check Answer</button>
			</div>	
	  	</div>
	  	<div class="painting2">
	   		<p>
	   			Great job! You've completed the trial demo. 
			  	<div class="center">
			      	<button class="btn btn-primary" id="signupPainting">Let's try Painting!</button>
			  	</div>
			<% end %>
	  	</div>
	</div>  	
  	<div class="modal-footer">
  		<h4 class="pull-left" id="heightAdj"><br></h4>
  		<h4 class="pull-left correct">Great job! Click 'Next' to continue!</h4>
    	<button class="blueWords1 btn btn-primary" id="blueNext1">Next</button>
    	<button class="blueWords2 btn btn-primary" id="blueNext2">Next</button>
    	<button class="purpleWords1 btn btn-primary" id="purpleNext1">Next</button>
    	<button class="purpleWords2 btn btn-primary" id="purpleNext2">Next</button>
    	<button class="purpleWords3 btn btn-primary" id="purpleNext3">Next</button>
    	<button class="orangeWords1 btn btn-primary" id="orangeNext1">Next</button>
    	<button class="orangeWords2 btn btn-primary" id="orangeNext2">Next</button>
    	<button class="painting1 btn btn-primary" id="paintingNext1">Next</button>
  	</div>
</div>

<script>
$(function() {
	$('#demoButton').click(function(){
		$('#grammarModal').modal('show');
	});
	$('.blueCorrect').click(function(){
		$('.blueCorrect').addClass('blue');
		$('.wrong').hide();
		$('.correct').show();
		$('#heightAdj').hide();
		$('#blueNext1').show();
	});
	$('.blueCorrect1').click(function(){
		$('.blueCorrect1').addClass('blue');
		$('.wrong').hide();
		if ($('.blueCorrect2').hasClass('blue')){
			$('.correct').show();
			$('#heightAdj').hide();
			$('#blueNext2').show();
		}
	});
	$('.blueCorrect2').click(function(){
		$('.blueCorrect2').addClass('blue');
		$('.wrong').hide();
		if ($('.blueCorrect1').hasClass('blue')){
			$('.correct').show();
			$('#heightAdj').hide();
			$('#blueNext2').show();
		}
	});
	$('.blueWrong').click(function(){
		$('.wrong').fadeIn(1000).fadeOut(1000);
		$('.blueCorrect').removeClass('blue');
		$('.blueCorrect1').removeClass('blue');
		$('.blueCorrect2').removeClass('blue');
		$('.correct').hide();
		$('#blueNext1').hide();
		$('#blueNext2').hide();
		$('#heightAdj').show();
	});
	$('.purpleCorrect').click(function(){
		$('.purpleCorrect').addClass('purple');
		$('.wrong').hide();
		$('.correct').show();
		$('#heightAdj').hide();
		$('#purpleNext1').show();
	});
	$('.purpleCorrect1').click(function(){
		$('.purpleCorrect1').addClass('purple');
		$('.wrong').hide();
		if ($('.purpleCorrect2').hasClass('strike-through') && $('.purpleCorrect3').hasClass('strike-through')){
			$('.correct').show();
			$('#heightAdj').hide();
			$('#purpleNext2').show();
		}
	});
	$('.purpleCorrect2').click(function(){
		$('.purpleCorrect2').addClass('strike-through');
		$('.wrong').hide();
		if ($('.purpleCorrect1').hasClass('purple') && $('.purpleCorrect3').hasClass('strike-through')){
			$('.correct').show();
			$('#heightAdj').hide();
			$('#purpleNext2').show();
		}
	});
	$('.purpleCorrect3').click(function(){
		$('.purpleCorrect3').addClass('strike-through');
		$('.wrong').hide();
		if ($('.purpleCorrect2').hasClass('strike-through') && $('.purpleCorrect1').hasClass('purple')){
			$('.correct').show();
			$('#heightAdj').hide();
			$('#purpleNext2').show();
		}
	});
	$('.purpleCorrect4').click(function(){
		$('.purpleCorrect4').addClass('purple');
		$('.wrong').hide();
		if ($('.purpleCorrect5').hasClass('purple')){
			$('.correct').show();
			$('#heightAdj').hide();
			$('#purpleNext3').show();
		}
	});
	$('.purpleCorrect5').click(function(){
		$('.purpleCorrect5').addClass('purple');
		$('.wrong').hide();
		if ($('.purpleCorrect4').hasClass('purple')){
			$('.correct').show();
			$('#heightAdj').hide();
			$('#purpleNext3').show();
		}
	});
	$('.purpleWrong').click(function(){
		$('.wrong').fadeIn(1000).fadeOut(1000);
		$('.purpleCorrect').removeClass('purple');
		$('.purpleCorrect1').removeClass('purple');
		$('.purpleCorrect2').removeClass('purple');
		$('.purpleCorrect3').removeClass('purple');
		$('.purpleCorrect4').removeClass('strike-through');
		$('.purpleCorrect5').removeClass('strike-through');
		$('.correct').hide();
		$('#purpleNext1').hide();
		$('#purpleNext2').hide();
		$('#purpleNext3').hide();
		$('#heightAdj').show();
	});
	$('.orangeCorrect').click(function(){
		$('.orangeCorrect').addClass('orange');
		$('.wrong').hide();
		$('.correct').show();
		$('#heightAdj').hide();
		$('#orangeNext1').show();
	});
	$('.orangeCorrect1').click(function(){
		$('.orangeCorrect1').addClass('orange');
		$('.wrong').hide();
		if ($('.orangeCorrect2').hasClass('orange')){
			$('.correct').show();
			$('#heightAdj').hide();
			$('#orangeNext2').show();
		}
	});
	$('.orangeCorrect2').click(function(){
		$('.orangeCorrect2').addClass('orange');
		$('.wrong').hide();
		if ($('.orangeCorrect1').hasClass('orange')){
			$('.correct').show();
			$('#heightAdj').hide();
			$('#orangeNext2').show();
		}
	});
	$('.orangeWrong').click(function(){
		$('.wrong').fadeIn(1000).fadeOut(1000);
		$('.orangeCorrect').removeClass('orange');
		$('.orangeCorrect1').removeClass('orange');
		$('.orangeCorrect2').removeClass('orange');
		$('.correct').hide();
		$('#orangeNext1').hide();
		$('#orangeNext2').hide();
		$('#heightAdj').show();
	});
	$('#blueNext1').click(function(){
		$('.correct').hide();
		$('#heightAdj').show();
		$('.blueWords1').hide();
		$('.blueCorrect').removeClass('blue');
		$('.blueWords2').show();
		$('#blueNext2').hide();
	});
	$('#blueNext2').click(function(){
		$('.correct').hide();
		$('#heightAdj').show();
		$('.blueWords2').hide();
		$('.blueCorrect').removeClass('blue');
		$('.blueCorrect1').removeClass('blue');
		$('.blueCorrect2').removeClass('blue');
		$('.purpleWords1').show();
		$('#purpleNext1').hide();
	});
	$('#purpleNext1').click(function(){
		$('.correct').hide();
		$('#heightAdj').show();
		$('.purpleWords1').hide();
		$('.purpleCorrect').removeClass('purple');
		$('.purpleWords2').show();
		$('#purpleNext2').hide();
	});
	$('#purpleNext2').click(function(){
		$('.correct').hide();
		$('#heightAdj').show();
		$('.purpleWords2').hide();
		$('.purpleCorrect').removeClass('purple');
		$('.purpleCorrect1').removeClass('purple');
		$('.purpleCorrect2').removeClass('purple');
		$('.purpleWords3').show();
		$('#purpleNext3').hide();
	});
	$('#purpleNext3').click(function(){
		$('.correct').hide();
		$('#heightAdj').show();
		$('.purpleWords3').hide();
		$('.purpleCorrect3').removeClass('purple');
		$('.purpleCorrect4').removeClass('purple');
		$('.purpleCorrect5').removeClass('purple');
		$('.orangeWords1').show();
		$('#orangeNext1').hide();
	});
	$('#orangeNext1').click(function(){
		$('.correct').hide();
		$('#heightAdj').show();
		$('.orangeWords1').hide();
		$('.orangeCorrect').removeClass('orange');
		$('.orangeWords2').show();
		$('#orangeNext2').hide();
	});
	$('#orangeNext2').click(function(){
		$('.correct').hide();
		$('#heightAdj').show();
		$('.orangeWords2').hide();
		$('.orangeCorrect').removeClass('orange');
		$('.orangeCorrect1').removeClass('orange');
		$('.orangeCorrect2').removeClass('orange');
		$('.painting1').show();
		$('#paintingNext1').hide();
	});
	$('#orangeHint').click(function(){
		$('#orangeHintText').toggle();
	});
	$('#orangeSubmit').click(function(){
		if ($("#orangeText").val().toLowerCase() === 'do') {
			$('.wrong').hide();
			$('.correct').show();
			$('#heightAdj').hide();
			$('#orangeNext2').show();
			$('#hidden-orange').show();
		} else {
			$('.wrong').fadeIn(1000).fadeOut(1000);
			$('.correct').hide();
			$('#heightAdj').show();
			$('#orangeNext2').hide();
			$('#hidden-orange').hide();
		}
	});
	var color = 'blue'
	
	var setcolor = function(c){
		console.log(c);
		color = c;
	}; 

	$('.orange-circle').click(function(){
		setcolor('orange');
	});
	$('.purple-circle').click(function(){
		setcolor('purple');
	});
	$('.blue-circle').click(function(){
		setcolor('blue');
	});

	$('#paintWord1').click(function(){
		$('#paintWord1').removeClass('orange');
		$('#paintWord1').removeClass('purple');
		$('#paintWord1').removeClass('blue');
		$('#paintWord1').addClass(color);
	});
	$('#paintWord2').click(function(){
		$('#paintWord2').removeClass('orange');
		$('#paintWord2').removeClass('purple');
		$('#paintWord2').removeClass('blue');
		$('#paintWord2').addClass(color);
	});
	$('#paintWord3').click(function(){
		$('#paintWord3').removeClass('orange');
		$('#paintWord3').removeClass('purple');
		$('#paintWord3').removeClass('blue');
		$('#paintWord3').addClass(color);
	});
	$('#paintWord4').click(function(){
		$('#paintWord4').removeClass('orange');
		$('#paintWord4').removeClass('purple');
		$('#paintWord4').removeClass('blue');
		$('#paintWord4').addClass(color);
	});
	$('#paintingSubmit').click(function(){
		if ($('#paintWord1').hasClass('purple') && $('#paintWord2').hasClass('orange') && $('#paintWord3').hasClass('blue') && !$('#paintWord4').hasClass('purple') && !$('#paintWord4').hasClass('orange') && !$('#paintWord4').hasClass('blue')) {
			$('.wrong').hide();
			$('.correct').show();
			$('#heightAdj').hide();
			$('#paintingNext1').show();
		} else {
			$('.wrong').fadeIn(1000).fadeOut(1000);
			$('.correct').hide();
			$('#heightAdj').show();
			$('#paintingNext1').hide();
			$('#paintWord4').removeClass('orange');
			$('#paintWord4').removeClass('purple');
			$('#paintWord4').removeClass('blue');
			$('#paintWord3').removeClass('orange');
			$('#paintWord3').removeClass('purple');
			$('#paintWord3').removeClass('blue');
			$('#paintWord2').removeClass('orange');
			$('#paintWord2').removeClass('purple');
			$('#paintWord2').removeClass('blue');
			$('#paintWord1').removeClass('orange');
			$('#paintWord1').removeClass('purple');
			$('#paintWord1').removeClass('blue');
		}
	});
	$('#paintingNext1').click(function(){
		$('.correct').hide();
		$('#heightAdj').show();
		$('.painting1').hide();
		$('.painting2').show();
		$('#paintingNext1').hide();
		$('.modal-footer').hide();
	});
});
</script>