@import "bootstrap";
$bif_orange: #b84700;
$bif_blue: #258585;
$bif_purple: #660066;

body {
	margin-top: 20px;
	background: url('/assets/pw_maze_white.png') repeat;
}

h1 {
	font-family: 'Margarine', cursive;
}

.center {
	text-align: center;
}

.image_center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.strike-through {
	text-decoration: line-through;
}

.underline {
	text-decoration:underline
}

.bold {
	font-weight:bold;
}

.blue {
	font-weight:bold;
	color: $bif_blue;
}

.purple {
	font-weight:bold;
	color: $bif_purple;
}

.orange {
	font-weight:bold;
	color: $bif_orange;
}

.testSentence{
	font-size:1.6em;
}

.wordExample{
	cursor: hand; cursor: pointer;
}

.correct {
	display:none;
}

.wrong {
	display:none;
}

.blueWords2 {
	display:none;
}

.purpleWords1 {
	display:none;
}

.purpleWords2 {
	display:none;
}

.purpleWords3 {
	display:none;
}

.orangeWords1 {
	display:none;
}

.orangeWords2 {
	display:none;
}

.painting1 {
	display:none;
}

.painting2 {
	display:none;
}

#blueNext1 {
	display:none;
}

#blueNext2 {
	display:none;
}

#purpleNext1 {
	display:none;
}

#purpleNext2 {
	display:none;
}

#purpleNext3 {
	display:none;
}

#orangeNext1 {
	display:none;
}

#orangeNext2 {
	display:none;
}

#paintingNext1 {
	display:none;
}

#paintingNext2 {
	display:none;
}

#testSentence1 {
	display:none;
}

#orangeHintText {
	display:none;
	font-style:italic;
}

#hidden_orange {
	display:none;
}

.outer {
	position:relative;
	height:110px;
	margin-top:25px;
}

.inner_a {
	position:absolute;
	top:0px;
	left:0px;
}
.inner_b {
	position:absolute;
	width:200px;
	top:-38px;
	left:35px;
}
.inner_c {
	position:absolute;
	width:220px;
	top:-22px;
	left:210px;
}
.inner_d {
	position:absolute;
	width:300px;
	top:23px;
	left:35px;
}
.inner_e {
	position:absolute;
	width:200px;
	top:40px;
	left:240px;
}

.blue_circle {
	margin-left:15px;
	margin-right:15px;
	float:left;
	cursor: hand; cursor: pointer;
	border-radius: 50%;
	border:solid 2px #000000; 
	width: 35px;
	height: 35px;
	background: $bif_blue;
}

.purple_circle {
	margin-left:15px;
	margin-right:15px;
	float:left;
	cursor: hand; cursor: pointer;
	border-radius: 50%;
	border:solid 2px #000000; 
	width: 35px;
	height: 35px;
	background: $bif_purple;
}

.orange_circle {
	margin-left:15px;
	margin-right:15px;
	float:left;
	cursor: hand; cursor: pointer;
	border-radius: 50%;
	border:solid 2px #000000; 
	width: 35px;
	height: 35px;
	background: $bif_orange;
}

.bold_tool {
	margin-left:15px;
	margin-right:15px;
	float:left;
}

.tool_button {
	float:right;
}

.underline_tool {
	margin-left:15px;
	margin-right:15px;
	float:left;
}

#circle_outer {
	margin-left:160px; 
	width:250px;
}

.painting_text {
	font-size: 2em;
	line-height: 1.2em;
}

.painting_text_large {
	font-size: 3em;
	line-height: 1.5em;
}