@import "bootstrap";
$bif-orange: #b84700;
$bif-blue: #258585;
$bif-purple: #660066;

body {
	margin-top: 20px;
	background: url('/assets/pw_maze_white.png') repeat;
}

h1 {
	font-family: 'Margarine', cursive;
}

.center {
	text-align: center;
}

.image-center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.strike-through {
	text-decoration: line-through;
}

.underline {
	text-decoration:underline
}

.bold {
	font-weight:bold;
}

.blue {
	font-weight:bold;
	color: $bif-blue;
}

.purple {
	font-weight:bold;
	color: $bif-purple;
}

.orange {
	font-weight:bold;
	color: $bif-orange;
}

.testSentence{
	font-size:1.6em;
}

.wordExample{
	cursor: hand; cursor: pointer;
}

.correct {
	display:none;
}

.wrong {
	display:none;
}

.blueWords2 {
	display:none;
}

.purpleWords1 {
	display:none;
}

.purpleWords2 {
	display:none;
}

.purpleWords3 {
	display:none;
}

.orangeWords1 {
	display:none;
}

.orangeWords2 {
	display:none;
}

.painting1 {
	display:none;
}

.painting2 {
	display:none;
}

#blueNext1 {
	display:none;
}

#blueNext2 {
	display:none;
}

#purpleNext1 {
	display:none;
}

#purpleNext2 {
	display:none;
}

#purpleNext3 {
	display:none;
}

#orangeNext1 {
	display:none;
}

#orangeNext2 {
	display:none;
}

#paintingNext1 {
	display:none;
}

#paintingNext2 {
	display:none;
}

#testSentence1 {
	display:none;
}

#orangeHintText {
	display:none;
	font-style:italic;
}

#hidden-orange {
	display:none;
}

.outer {
	position:relative;
	height:110px;
	margin-top:25px;
}

.inner-a {
	position:absolute;
	top:0px;
	left:0px;
}
.inner-b {
	position:absolute;
	width:200px;
	top:-38px;
	left:35px;
}
.inner-c {
	position:absolute;
	width:220px;
	top:-22px;
	left:210px;
}
.inner-d {
	position:absolute;
	width:300px;
	top:23px;
	left:35px;
}
.inner-e {
	position:absolute;
	width:200px;
	top:40px;
	left:240px;
}

.blue-circle {
	margin-left:15px;
	margin-right:15px;
	float:left;
	cursor: hand; cursor: pointer;
	border-radius: 50%;
	border:solid 2px #000000; 
	width: 35px;
	height: 35px;
	background: $bif-blue;
}

.purple-circle {
	margin-left:15px;
	margin-right:15px;
	float:left;
	cursor: hand; cursor: pointer;
	border-radius: 50%;
	border:solid 2px #000000; 
	width: 35px;
	height: 35px;
	background: $bif-purple;
}

.orange-circle {
	margin-left:15px;
	margin-right:15px;
	float:left;
	cursor: hand; cursor: pointer;
	border-radius: 50%;
	border:solid 2px #000000; 
	width: 35px;
	height: 35px;
	background: $bif-orange;
}

.bold-tool {
	margin-left:15px;
	margin-right:15px;
	float:left;
}

.tool-button {
	float:right;
}

.underline-tool {
	margin-left:15px;
	margin-right:15px;
	float:left;
}

#circle-outer {
	margin-left:160px; 
	width:250px;
}

.painting-text {
	font-size: 2em;
	line-height: 1.2em;
}

.painting-text-large {
	font-size: 3em;
	line-height: 1.5em;
}

caption {
	margin-bottom:5px;
}

#painting-canvas {
	height:300px;
	border: 3px dashed #CCCCCC;
	margin-bottom:15px;
}

#floater {
    float: left;
    height: 45%;
    width: 100%;
    margin-bottom: -50px;
}

#painting-table {
	font-size: 1.5em;
	padding-top:10px;
}

#child {
    clear: both;
    height: 150px;
}

#orange-cursor {
 	background: url('/assets/orange_brush.png') no-repeat;
	width: 25px;
	height: 23px;
 	position: absolute;
 	display: none;
 	top: 0;
 	left: 0;
 	z-index: 10000;
}

#blue-cursor {
 	background: url('/assets/blue_brush.png') no-repeat;
	width: 25px;
	height: 23px;
 	position: absolute;
 	display: none;
 	top: 0;
 	left: 0;
 	z-index: 10000;
}

#purple-cursor {
 	background: url('/assets/purple_brush.png') no-repeat;
	width: 25px;
	height: 23px;
 	position: absolute;
 	display: none;
 	top: 0;
 	left: 0;
 	z-index: 10000;
}

#bold-cursor {
 	background: url('/assets/bold.png') no-repeat;
	width: 32px;
	height: 32px;
 	position: absolute;
 	display: none;
 	top: 0;
 	left: 0;
 	z-index: 10000;
}

#underline-cursor {
 	background: url('/assets/underline.png') no-repeat;
	width: 32px;
	height: 32px;
 	position: absolute;
 	display: none;
 	top: 0;
 	left: 0;
 	z-index: 10000;
}